body{
    position: relative;
    width:100%;
    min-height: 100vh;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto',sans-serif;
}
.box{
    position: relative;
    background:rgba(255,255,255,.6);
    width: 786px;
    backdrop-filter: blur(15px);
    padding: 20px;
    border-radius: 20px;
    transition: width 500ms ease;
}
.box h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.box .datetime-picker{
    position: relative;
    display: flex;
    align-items: center;
}
.box .datetime-picker input{
    margin:0 10px;
    border:0;
    padding: .5rem;
    border-radius: 10px;
    transition: 550ms ease;
}
.box .datetime-picker input:focus{
   outline: none;
   box-shadow: 0 0 10px #292929;
}
.box .datetime-picker span{
    display: inline-block;
    text-transform: uppercase;
}
.box .datetime-picker span#chosedate{
    margin-left: auto;
}
.age-cal{
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
}
.age-cal .age-box{
    position: relative;
    background: #fff;
    border-radius: 10px;
    margin:10px;
    width:222px;
    transition: 500ms ease;
}
.age-cal .age-box p.header{
    position: relative;
    text-align: center;
    background: #3af7c9;
    padding: 10px 30px;
    border-radius: 10px 10px 0 0;
    font-size: 1.2rem;
    font-size:500;
    text-transform: uppercase;

}
.age-cal .age-box:nth-child(even) p.header{
    background: #40ef9b;

}
.age-cal .age-box .value{
    text-align: center;
    padding: 30px 20px;
    font-size: 1.5rem;
}


 